* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
   font-family: 'Times New Roman', Times, serif;
   background: white;
   width: 1920px;
   height: auto;
   margin:0;
   padding:0;
}



/* créer des espaces entre les liens

HTML
<div id="menu">
       
                <p> <a href="menu.html">Acceuil</a>
                <a href="blog.html">Forum</a>
                <a href="forum.html">Tchat</a>     
                    
        </div>

solution en CSS d'abord le padding puis ++
#menu a
{
  padding: 0 5px;/* pour un espace de 5+5px par exemple*/


/*
entre des éléments d'une ligne : &nbsp;

pour deux espaces : tapez &ensp; ;
pour quatre espaces : tapez &emsp; ;
pour un retrait : tapez &nbsp;&nbsp;&nbsp;&nbsp;.
*/



/* organisation header */

header {
   position: top; 
   background-color: rgb(27, 1, 1);  
   height:5em;
   width:1920px;
}
 
header ul.une  {
    font-size: 15px;
    display:inline;
    width:900px;
    height: auto;
}
 
header ul.deux  {
    font-size: 15px;
    display:inline-block;
    width:900px;
    height: auto;
}


header h1 {
  color:white;
}

header li {
    display:inline;
}

header li a  {
    display:inline-block;
    width:400px;
    text-align:center;
    color:white;
    text-decoration:none;
    padding:2px;
}


/* placer */


/*  test non cluant passage par une version en ligne des icones 

li .image {
    background-image: url(Icones/horloge.jpg);
    width:15px;
   }
 

li .image1 {
    position:left;
    background-image: url(Icones/mail.jpg);
    background-size:contain ;
   }

li .image2 {
    position:left;
    background-image: url(Icones/tel.png);
    background-size:contain ;
   }

li .logos {
    background-image: url(Icones/facebook.jpg), url(Icones/twiter.jpg), url(Icones/google.jpg), url(Icones/instagram-icon.png);
    background-size:contain ;
   }

  */


   /* pb over à résoudre */


header i:hover {    /* fonctionne pas */
    color:#eca9f5;  
}




/* traitement menu */

h2 {
    color:white;
}



.menu {
   margin-top:40px ;
   position: absolute; 
   background-color:white;  
   width:1920px;
   height: 80px;
}

.menu ul {
    margin-left: 20px;;
}


.menu li{
    display:inline 
}

.menu li a  {
    position:static;
    display:inline-block;
    width:150px;
    text-align:center;
    font-size: 20px;
    font-weight: bold;
    color:rgb(39, 31, 31);
    text-decoration:none;
    padding:5px;
}

.red {
    height:75px;
    background-color: red;
   }




.menu a:hover {
    color:rgb(240, 21, 21);
    font-size: 30px;
    font-weight: bolder;

}  




/* abandonner car invisible vue la  taille 

li.logo {
    position:relative;
    background-size:contain ;
   }

li.caddy a {
    background-image: url(Icones/caddy.png);
    background-size: cover;
    background-repeat: no-repeat;
   }


li.loupe {
    background-image: url(Icones/loupe.png);
    background-size: contain;
    background-repeat: no-repeat;
   }



problème de calage et d'apparition des logos*/






/* porsche & formulaire */

section {  
    margin-top: 200px;   /* image de fond*/
    background-image: url(Divers/hero-bg.jpg);
    height:800px;
   /* background:#eeeeee;  blanc coder autrement*/
}

.double {
 display:inline-block;
}

#gauche{ 
    position:absolue;
    padding-block: 200px;
    margin-left: 300px;;
    font-size: 30px;
    color:white;
    text-align: justify; 
    width:450px;
    height:450px;
    float:left;
}
#gauche .p0 {
    
    font-size: 30px;
    font-weight: 50px;

}

#gauche .p1 {
    font-size: 70px;
    font-weight: 50px;
}

#gauche .pp {
   font-size: 20px;;
   background-color: white;

}

#gauche .pp {
    font-size: 20px;
    color:black;
    font-weight: bold ;
}


#gauche .pp2 {
    font-size: 50px;
    color:white;

}

#gauche .ppp {
  background-color: red;;

}

#gauche .ppp {
  color:white;
  font-weight: bold;
}

#gauche .ppp3 {
  color:white;
  border:solid 1px;
}








/* à retravailler Formulaire */

form { 
    background-color: white;
    width: 600px;
    height:450px;
    font-family: 'Times New Roman', Times, serif;
}
  
legend {
    font-size: 20px;
    font-weight: bold;
}
   

form .titre {
    font-size:50px;
    font-weight: bold; 
    position:center;
}


#droite {
    padding-block: 190px;
    width:450px;
    height:450px;
    float:right;
    margin-left:250px;
    font-weight: 30px;
    color: black;  

    text-align:left;
}

  /* essai avec une grille et colonne */
  
.grid1 .grid2 {
width:100%;
}


.colonne1  {
     float:left;
     position:inline;
     width:200px;
     
}

.colonne2 {
  float:right;
  position:absolute;
  width:300px;
  
}
*/


.blue {
  background-color: rgb(187, 186, 223);
}

.enter {
    font-size: 30px;
    font-weight: bold;
    color:white;
    background-color: red;
    border:solid 1px;
} 

.submit {
    margin-left: 70px;;
}

/* envoi formulaire */


h1 {
    font-size:20px;
}

#test {
    background-color: #eca9f5;
    height: 500px;
    width: 1920px;
}


a {
    color:#cccccc;
}





/* Ou Services */


#une {
    line-height:1em;
    width:auto;
    height:800px;
    justify-content: center;
    background-color: white;
}

#une .p0 {

    text-align:center;
    font-size: 30px;
    color:red;
}

#une .p1 {
    text-align:center;
    font-size: 60px;
    color:black;
}

#une .p2 {
    text-align:center;
    font-size: 30px;
    color:rgb(48, 46, 46);
}

#une .vignette {
    display: inline-block;  /* Utile car autrement l'on ne pourrait pas caler les div */
    width: 290px;
    height: 350px;
    padding: 1px;
    padding-block: 40px;
    margin-left:150px;  /* pareil en donnant de la marge l'on permet une répartition proportionnée dans la div*/

}

#une .vignette{
    background-color: white;
    text-align: center;
    border-style: dashed;

}


/* Best Vehicle Offers */

a {
    color:#cccccc;
}


/* css pour flexbox */


 /* .ligne{
    flex-flow: row wrap;
}
.colonne{
    flex-flow: column wrap;
}

*/ 


#deux {
    line-height:2em; /* ici on proportionnalise les hauteurs des lignes et les espaces interlignes */
    width:1920px;
    height:800px;
    background-image: url(Car/car.png);
    background-repeat: no-repeat;
    background-size:40%;
    background-position: center;
}



#deux .conteneur-flexible{
    display: flex;
    height:800px;
    border: 2px solid rgb(128, 0, 117);
    box-sizing: border-box;
    margin: 0px;  
}



.element1-flexible {
    padding:30px;
    width: 500px;
    height: 700px;
    background-color:transparent;
    margin-left: 200px;
}

.element2-flexible {
    width: 600px;
    height: 700px;
    background-color: transparent;
}

.element3-flexible {
    padding: 70px;
    width: 600px;
    height: 700px;
    background-color: transparent; 
    margin-right: 70px;
}
.element3-flexible .colonne {
   
   column-count: 2 ;
   column-width: 100px ;
}






/* gestion des attributs des paragraphes */



#deux .p0 {

    text-align:left;
    font-size: 30px;
    color:red;
}

#deux .p1 {
    text-align:left;
    font-size: 50px;
    color:black;
}

#deux .p2 {
    text-align:left;
    font-size: 20px;
    color:rgb(48, 46, 46);
}

#deux .A {
    position:right;
    line-height:1em;
    background-color: red;
    font-size: 25px;
    width:150px;
    height: 1em;;
    color: white;
}

#deux .B {
    position:right;
    line-height:1em;
    background-color: black;
    font-size: 25px;
    width:150px;
    height: 10px;
    color: white;
}


#deux article {
    background-color: transparent;
    height: 200px;
    width:100px;
}

#deux article .p4 {

    text-align: center;
}



#deux a:hover {    /* fonctionne pas */
    color:#eca9f5;  
    background-color: blue;
}


#deux article:hover {
    color:rgb(240, 21, 21);
    font-size: 30px;
    font-weight: bolder;

}